@keyframes moveArrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

.section-title {
  position: relative;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
  color: rgb(48, 94, 29);
}
.section-title--green {
  color: rgb(255, 255, 255);
  background-color: rgb(48, 94, 29);
  padding: 0.1em;
}

.nav__desktop-item::before,
.nav__mobile__links-item::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(48, 94, 29);
  scale: 0;
  transition: scale 0.3s;
}
.nav__desktop-item:hover::before,
.nav__mobile__links-item:hover::before {
  scale: 1;
}
.nav__desktop-item:hover,
.nav__mobile__links-item:hover {
  color: rgb(48, 94, 29);
}

.nav__mobile__burger-btn-bars--active:first-child {
  opacity: 0;
}
.nav__mobile__burger-btn-bars--active:nth-child(2) {
  transform: translate(-20px, 13px) rotate(-45deg);
}
.nav__mobile__burger-btn-bars--active:nth-child(3) {
  transform: translate(-20px, -17px) rotate(45deg);
}

.header-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(185, 185, 185, 0.7);
  z-index: -1;
}

.header-arrow {
  position: absolute;
  bottom: 1em;
  font-size: 3rem;
  color: rgb(48, 94, 29);
  text-decoration: none;
  animation: moveArrow 1s linear infinite;
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../img/header-small.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 0;
}
.header__text {
  padding: 1em;
  text-align: center;
}
.header__text-heading {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(48, 94, 29);
  letter-spacing: 0.5rem;
}
.header__text-info {
  font-size: 1.6rem;
  margin-bottom: 3em;
}
.header__text-btn {
  padding: 0.5em 1em;
  border-radius: 3em;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
.header__text-btn:hover {
  background-color: rgb(48, 94, 29);
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
}
.header__logo {
  display: none;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.nav--active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(220, 216, 213);
}
.nav__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 3em;
}
.nav__mobile-img {
  width: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}
.nav__mobile__burger-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  padding: 1em;
  cursor: pointer;
}
.nav__mobile__burger-btn-bars {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 3px;
  background-color: rgb(48, 94, 29);
  transform: translate(-50%, -50%);
  transition: transform 0.3s, opacity 0.3s;
}
.nav__mobile__burger-btn-bars:nth-child(2) {
  top: 10px;
}
.nav__mobile__burger-btn-bars:nth-child(3) {
  top: 40px;
}
.nav__mobile__links {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 261px;
  left: 0;
  top: 0;
  background-color: rgb(220, 216, 213);
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-140%);
  transition: transform 0.4s;
  z-index: -2;
}
.nav__mobile__links--active {
  transform: translateY(0);
}
.nav__mobile__links-item {
  display: block;
  position: relative;
  padding: 0.75em 1em;
  margin: 0.3em auto;
  color: rgb(48, 94, 29);
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
  z-index: -10;
}
.nav__mobile__links-item:first-child {
  margin-top: 71px;
}
.nav__desktop {
  display: none;
}

.aboutus {
  background-color: rgb(220, 216, 213);
}

@media (width >= 768px) {
  .nav {
    padding: 1em;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
  }
  .nav__desktop-img {
    width: 60px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  }
  .nav__desktop-item {
    position: relative;
    padding: 1em;
    margin: 0 0.3em;
    color: rgb(48, 94, 29);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header__text-heading {
    font-size: 8rem;
  }
  .header__text-info {
    font-size: 1.8rem;
  }
  .header__text-btn {
    font-size: 2rem;
  }
}
@media (width >= 992px) {
  .nav__desktop-item {
    font-size: 1.8rem;
  }
  .header {
    background-image: url(../img/header-big.jpg);
  }
  .header__text {
    margin-right: 20rem;
  }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */