$main-color: rgb(48, 94, 29);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(135, 135, 135);
$dark-gray: rgb(51, 51, 51);
$shadow-header: rgba(185, 185, 185, 0.6);
$cream-color: rgb(177, 176, 154);
