@use 'colors';
@use 'animations';

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 6em 2em;
}

.section-title {
	position: relative;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;
	color: colors.$main-color;
	&--green {
		color: colors.$white;
		background-color: colors.$main-color;
		padding: 0.1em;
	}
}

.nav__desktop-item,
.nav__mobile__links-item {
	&::before {
		position: absolute;
		content: '';
		height: 2px;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: colors.$main-color;
		scale: 0;
		transition: scale 0.3s;
	}

	&:hover::before {
		scale: 1;
	}
	&:hover {
		color: colors.$main-color;
	}
}

.nav__mobile__burger-btn-bars--active {
	&:first-child {
		opacity: 0;
	}
	&:nth-child(2) {
		transform: translate(-20px, 13px) rotate(-45deg);
	}
	&:nth-child(3) {
		transform: translate(-20px, -17px) rotate(45deg);
	}
}

.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: colors.$shadow-header;
	z-index: -1;
}

.header-arrow {
	position: absolute;
	bottom: 1em;
	font-size: 3rem;
	color: colors.$main-color;
	text-decoration: none;
	animation: moveArrow 1s linear infinite;
	cursor: pointer;
}
