@use './components';
@use './colors';
@use './animations';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 72px;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: colors.$dark-gray;
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url(../img/header-small.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	z-index: 0;
	&__text {
		padding: 1em;
		text-align: center;
		&-heading {
			font-size: 5rem;
			font-weight: 900;
			text-transform: uppercase;
			color: colors.$main-color;
			letter-spacing: 0.5rem;
		}
		&-info {
			font-size: 1.6rem;
			margin-bottom: 3em;
		}
		&-btn {
			padding: 0.5em 1em;
			border-radius: 1rem;
			border: 1px solid colors.$black;
			color: colors.$black;
			font-size: 1.6rem;
			text-transform: uppercase;
			text-decoration: none;
			transition: color 0.3s, background-color 0.3s, border 0.3s;
			cursor: pointer;
			&:hover {
				background-color: colors.$main-color;
				color: colors.$white;
				border: 1px solid transparent;
			}
		}
	}
	&__logo {
		display: none;
	}
}

// NAV
.nav {
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: background-color 0.3s, box-shadow 0.3s;
	&--active {
		box-shadow: 1px 1px 5px colors.$light-shadow;
		background-color: colors.$cream;
	}
	&__mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1em 3em;
		&-img {
			width: 50px;
			filter: drop-shadow(1px 1px 1px colors.$light-shadow);
		}
		&__burger-btn {
			position: relative;
			width: 50px;
			height: 50px;
			border: none;
			background: none;
			padding: 1em;
			cursor: pointer;

			&-bars {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 40px;
				height: 3px;
				background-color: colors.$main-color;
				transform: translate(-50%, -50%);
				transition: transform 0.3s, opacity 0.3s;
				&:nth-child(2) {
					top: 10px;
				}
				&:nth-child(3) {
					top: 40px;
				}
			}
		}

		&__links {
			position: fixed;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 261px;
			left: 0;
			top: 0;
			background-color: colors.$cream;
			text-align: center;
			box-shadow: 1px 1px 5px colors.$light-shadow;
			transform: translateY(-140%);
			transition: transform 0.4s;
			z-index: -2;
			&--active {
				transform: translateY(0);
			}
			&-item {
				display: block;
				position: relative;
				padding: 0.75em 1em;
				margin: 0.3em auto;
				color: colors.$main-color;
				font-size: 1.4rem;
				text-transform: uppercase;
				text-decoration: none;
				transition: color 0.3s;
				z-index: -10;
				&:first-child {
					margin-top: 71px;
				}
			}
		}
	}
	&__desktop {
		display: none;
	}
}

// ABOUT US

.aboutus {
	background-color: colors.$cream;
	&__text {
		padding: 0.5em;
		margin: 0.5em 0;
		font-size: 1.4rem;
	}
}
// AABOUTUS SECOND
.aboutus-second {
	background-color: colors.$cream-light;
	&__panel {
		margin: 2rem 0;
		padding: 1em;
		border-radius: 1rem;
		overflow: hidden;
		&-img {
			width: 100%;
			height: 100%;
			max-height: 400px;
			object-fit: cover;
			border-radius: 0.5rem;
		}
		&-title {
			margin: 1rem;
			color: colors.$main-color;
			font-size: 2.4rem;
			text-align: center;
		}
		&-info {
			font-size: 1.4rem;
			text-align: center;
		}
	}
}

// HEROIMG
.hero-img {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url(../img/heroimage-small.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	min-height: 70vh;
	z-index: 0;
	&-text {
		position: relative;
		text-align: center;
		padding: 1em;
		font-size: 1.4rem;
		color: colors.$white;
		letter-spacing: 0.2rem;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0 0 2px colors.$dark-gray;
		&::before,
		&::after {
			position: absolute;
			top: 0;
			height: 100%;
			width: 3px;
			content: '';
			background-color: colors.$white;
			box-shadow: 0 0 2px colors.$dark-gray;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
}

// PRICES
.prices {
	&-info {
		font-size: 1.4rem;
		text-align: center;
		color: colors.$alert-color;
		margin-bottom: 3em;
		font-weight: bold;
	}
	&__box {
		display: flex;
		flex-direction: column;
		&__card {
			text-align: center;
			margin: 1em 0;
			box-shadow: 3px 3px 15px colors.$light-shadow;
			border-radius: 1rem;
			padding: 2em 1em;
			height: 100%;

			.fa-solid {
				&-title {
					font-size: 3rem;
					color: colors.$main-color;
				}
			}
			&-title {
				margin: 1em 0;
				color: colors.$main-color;
				font-size: 1.6rem;
				text-transform: uppercase;
			}
			&-info {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid colors.$main-color;
				padding: 1em 0.5em;
				text-align: left;
				margin: 1em 0;
				font-size: 1.4rem;

				.fa-solid {
					font-size: 1.4rem;
				}
			}
			&-price {
				padding: 1em 0 0 0;
				margin: 1em 0;
				font-weight: bold;
				font-size: 1.8rem;
			}
		}
	}
}

// GALLERY
.gallery {
	background-color: colors.$cream-light;
	&__box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		gap: 2em;
		&-img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			box-shadow: 2px 2px 5px colors.$light-shadow;
			border-radius: 1rem;
		}
	}
}

// CONTACT
.contact {
	background-color: colors.$cream;
	.contact__form {
		display: flex;
		flex-direction: column;
		&__box {
			display: flex;
			flex-direction: column;
			margin: 1em 0;
			&-label {
				font-size: 1.4rem;
				text-transform: uppercase;
				margin-bottom: 0.2em;
				font-weight: bold;
				color: colors.$main-color;
			}
			&-input,
			&-textarea {
				background-color: colors.$cream;
				padding: 0.5em 1em;
				border-radius: 0.5rem;
				border: none;
				border: 2px solid colors.$gray;
				&:focus {
					outline: none;
					border: 2px solid colors.$main-color;
				}
			}
			&-textarea {
				min-height: 150px;
				font-size: 1.4rem;
			}
		}
		&-btn {
			font-size: 1.4rem;
			padding: 0.5em;
			color: colors.$main-color;
			text-transform: uppercase;
			font-weight: bold;
			border-radius: 0.5em;
			border: 1px solid colors.$gray;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: colors.$main-color;
				color: colors.$white;
			}
		}
	}

	&__social-media {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 3em;
		&-link {
			font-size: 1.8rem;
			text-decoration: none;
			margin: 0.5em 0;
			color: colors.$black;
			&:nth-child(2) {
				i {
					color: tomato;
				}
			}
			i {
				margin-right: 1em;
				color: royalblue;
			}
		}
	}
}
// MEDIA

@media (width >= 375px) {
	.aboutus {
		&__text {
			font-size: 1.6rem;
		}
	}
	.hero-img {
		&-text {
			font-size: 1.6rem;
		}
	}
	.prices {
		&-info {
			font-size: 1.6rem;
			padding: 0 1em;
		}
		&__box {
			&__card {
				.fa-solid {
					&-title {
						font-size: 3rem;
					}
				}
				&-title {
					font-size: 1.8rem;
				}
				&-info {
					font-size: 1.6rem;

					.fa-solid {
						font-size: 1.6rem;
					}
				}
				&-price {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (width >= 768px) {
	html {
		scroll-padding-top: 84px;
	}
	.section-title {
		font-size: 4rem;
	}
	.nav {
		padding: 1em;
		&__mobile {
			display: none;
		}
		&__desktop {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			max-width: 60%;
			margin: 0 auto;
			&-img {
				width: 60px;
				filter: drop-shadow(1px 1px 1px colors.$light-shadow);
			}
			&-item {
				position: relative;
				padding: 1em;
				margin: 0 0.3em;
				color: colors.$main-color;
				font-size: 1.4rem;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	.header {
		&__text {
			&-heading {
				font-size: 8rem;
			}
			&-info {
				font-size: 1.8rem;
			}
			&-btn {
				font-size: 2rem;
			}
		}
	}

	.aboutus-second {
		background-color: colors.$cream-light;

		&__panel {
			display: flex;
			align-items: center;

			&-img {
				width: 120%;
				&--right {
					order: 1;
				}
			}
			&__text {
				padding: 0 5em;
			}
			&-title {
				font-size: 3rem;
			}
			&-info {
				font-size: 1.6rem;
			}
		}
	}

	.hero-img {
		background-image: url(../img/heroimage-big.jpg);
		&-text {
			font-size: 1.8rem;
		}
	}
	.prices {
		&-info {
			font-size: 1.8rem;
		}
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			&__card {
				width: 45%;
				margin: 1em;
				height: 100%;
				min-height: 360px;
				.fa-solid {
					&-title {
						font-size: 3rem;
					}
				}
				&-title {
					font-size: 2rem;
				}
				&-info {
					.fa-solid {
						font-size: 1.8rem;
					}
				}
				&-price {
					font-size: 2.2rem;
					margin-bottom: 1em;
				}
			}
		}
	}

	.gallery {
		&__box {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			gap: 2em;
		}
	}

	@media (width >= 992px) {
		.nav {
			&__desktop {
				&-item {
					font-size: 1.8rem;
				}
			}
		}

		.header {
			background-image: url(../img/header-big.jpg);

			&__text {
				margin-right: 20rem;
			}
			&__logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
		}

		.aboutus {
			&__text {
				font-size: 1.8rem;
			}
		}

		.aboutus-second {
			background-color: colors.$cream-light;

			&__panel {
				&-img {
					width: 100%;
					height: 100%;

					transition: transform 0.3s;
					&:hover {
						transform: scale(0.95);
					}
				}
				&-info {
					font-size: 1.8rem;
				}
			}
		}

		.hero-img {
			&-text {
				font-size: 2.6rem;
			}
		}
		.prices {
			&__box {
				&__card {
					width: 31%;
					margin: 1em;
					height: 100%;
					min-height: 360px;
					transition: transform 0.3s;
					&:hover {
						transform: scale(1.05);
					}
					.fa-solid {
						&-title {
							font-size: 3rem;
						}
					}
					&-title {
						font-size: 2rem;
					}
					&-info {
						.fa-solid {
							font-size: 1.8rem;
						}
					}
					&-price {
						font-size: 2.2rem;
						margin-bottom: 1em;
					}
				}
			}
		}
		.gallery {
			&__box {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr;
				gap: 2em;
				&-img {
					transition: transform 0.3s;
					box-shadow: 2px 2px 5px colors.$light-shadow;
					&:nth-child(2) {
						grid-row: span 2;
					}
					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}
	}
}
